body{
    background-color:rgba(0, 0, 245, 0.2);
}

li{
    display: inline;
    list-style: none;
}

#page-title{
    
    background-color: rgba(255, 14, 14, 0.5);
    color: black;
    text-align: center;
    border: black 2px solid;
    cursor: pointer;
}

.form-block{
    padding: 20px;
    text-align: center;
}

/* #Gender-block{
    text-align: center;
} */

/* form input{           it means all inputs inside form
    text-align: left;
} */

footer{
    text-align: center;
}